
<h1>New Page</h1>
<form action="" method="post">
    {% csrf_token %}
    <p><label for="subject_input"></label>Subject</label></p>
    <p><input type="text" name="subject" id="subject_input"/></p>
    
    <p><label for="body_input">Body</label></p>
    <p><textarea name="body" id="body_input" cols="30" rows="10"></textarea></p>
    
    <p><label for="is_completed_input">done?</label></p>
    <p><input type="checkbox" name="is_completed" id="is_completed_input" /></p>
    
    
    <p><button type="submit">Submit</button></p>
    
    
</form>
